* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    min-width: 400px;
    max-width: 1920px;
    position: relative;
    min-height: 100%;
    background: rgb(235, 147, 141);
    font-weight: 300;
}

section,
header,
footer {
    padding: 1em;
}

ol,
ul {
    list-style-type: none;
    padding: 1em;
}

p {
    padding: 1em;
}

/**** TEKSTFORMATTERING ****/

section header h1 {
    font-size: 2.5em;
    /*    padding: 0.5em;*/
}

#site_header h1 {
    font-family: "Helvetica Neue Condensed", Helvetica, Verdana, Arial, sans-serif;
    font-size: 3em;
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    /*    padding: 1em 0 1em 0;*/
}

h2 {
    font-size: 1.6em;
    margin: 1em 3em;
    padding: 0.5em 0;

    background-color: rgb(235, 114, 106);
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 1em;
    border-color: rgb(235, 147, 141);
}

h3 {
    font-size: 1.2em;
    padding: 1em 1em;
    text-transform: uppercase;
}

#idegrundlag h3 {
    padding: 0 1em;
}

a h3 {
    text-align: center;
    font-size: 1.5em;
}

.link_ud {}



/* *****************************
******** Article, header, ******
*********** footer *************
********************************
***************************** */

#site_header {
    background: rgb( 235, 114, 106);
    padding: 2.5em 0 0.5em 0;
    color: #fff;
    text-align: center;
}

section {
    padding: 2em 0 0 0;
}

section header li {
    margin: 0 0.5em;
    font-size: 1em;
    font-weight: bold;
}

section header nav {
    text-align: center;
    margin: 0 1em 0;
    position: relative;
}

section header nav a:hover {
    color: rgb(50, 50, 50);
}

article section header {
    text-align: center;
    border-style: solid;
    border-color: rgb(235, 114, 106);
    border-radius: 4vw;
    background-color: rgb(235, 147, 141);
    margin: 1em 3em;
}

article a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

article a:visited {
    color: rgb(255, 255, 255);
}

article a:hover {
    color: rgb(50, 50, 50);
}

article a:active {
    color: rgb(255, 255, 255);
}

article {
    color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 10em;
}

article img {
    max-width: 100%;
    min-width: 20%;
}

footer p b {
    font-size: 1.2em;
}

footer {
    background: #202532;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
}

/**** BURGERMENU ****/

#burger_menu {
    font-size: 2em;
    color: #fff;
    background-color: rgba(235, 114, 106, 0.2);
    height: 1.5em;
    overflow: hidden;
    text-align: center;
    top: 0px;
    width: 5em;
    margin: 0 auto;
    border: 0.2em solid rgba(234, 80, 69, 0);
    box-sizing: border-box;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    transition: background 1s ease-in-out 0.2s;
}

#burger_menu_wrap {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#burger_menu_wrap ol,
section header ol {
    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    justify-content: center;
}

#burger_menu li {
    margin: 0.3em 0.7em;
    font-size: 0.65em;
    font-weight: bold;
    text-transform: uppercase;
}

#burger_menu .to_da_top {
    width: 100%;
}

#burger_menu a,
section header nav a {
    text-decoration: none;
    color: #fff;
}

#burger_menu a:hover {
    color: rgb(234, 80, 69);
}

/*
.hr {
    height: 10px;
    width: 100%;
    background: rgb(230, 230, 230);
    border-radius: 0.2em;
    margin: 1.5em auto;
}
*/

blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #fff;
    content: open-quote;
    font-size: 4em;
    font-family: "georgia";
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #fff;
    content: close-quote;
    font-size: 4em;
    font-family: "georgia";
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    line-height: 1.8em;
}

/* *****************************
******** Sektioner i article ***
********************************
***************************** */

article video {
    max-width: 1920px;
    display: block;
    margin: 1em auto;
    width: 100%;
}

section {
    margin: 1em 0 0;
}

/******************************
******** Animationer ***********
******************************/

.fadein {
    animation: fadein 2s forwards;
}

@keyframes fadein {
    /* Fade-in effekt når man besøger / opdatere siden  (Ikke når man klikker på links!) */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#burger_menu:hover {
    animation: menu_open 0.3s linear forwards;
    cursor: pointer;
    color: rgb(150, 200, 250);
}

.menu_close {
    animation: menu_close 0.3s linear forwards;
}

@keyframes menu_open {
    0% {
        width: 5em;
        height: 1.5em;
        background: rgba(235, 147, 141, 0.1);
        border: 0.2em solid rgba(234, 80, 69, 0);
    }
    50% {
        background: rgba(235, 147, 141, 0.9);
        width: 100%;
        height: 1.5em;
        border: 0.2em solid rgba(234, 80, 69, 0.3);
    }
    100% {
        height: auto;
        background: rgba(235, 147, 141, 0.9);
        width: 100%;
        border-radius: 0;
        border: 0.2em solid rgba(234, 80, 69, 0.3);
    }
}

@keyframes menu_close {
    0% {
        height: 1.5em;
        background: rgba(235, 147, 141 0.9);
        width: 100%;
        border: 0.2em solid rgba(234, 80, 69, 0.4);
    }
    50% {
        background: rgba(235, 147, 141, 0.7);
        border: 0.2em solid rgba(234, 80, 69, 0.4);
    }
    100% {
        height: 1.5em;
        background: rgba(235, 147, 141, 0.1);
        width: 5em;
        border: 0.2em solid rgba(234, 80, 69, 0);
    }
}

/******************************
******** media queries *********
******************************/

@media screen and (max-width:500px) {
    #site_header {
        padding: 5em 0 0 0;
        font-size: 0.5em;
    }

    article {
        width: 98%;
    }
}
